.count-list-aboutUs{
    text-align: center;
    list-style: 30px;
    display: block;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: var(--bgc-button);
   color: white;
   margin-top: 20px;
   margin-bottom: 10px;
}
