.light {
    display: block;
    width: 44px;
    height: 2px;
    background: black;
  }
  .light_cashvouher {
   
     display: block;
     text-align: center;
    width: 60px;
    height: 2px;
  background-color:  rgb(216, 195, 8);
  margin: 0 auto;
  }