html {
    // 62.5% <=> 10px
    font-size: 62.5%;
    line-height: 1.5;
    font-family: Verdana, sans-serif;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    font-size: 1.3rem;
    font-family: 'Nanum Gothic';
    background-color: #f5f5f5;
  }