// Chứa quy tắc CSS cho các phần tử văn bản cơ bản như tiêu đề, đoạn văn, liên kết, v.v.

h4{
    margin-bottom: 10px;
    font-weight: bold;
   }
   h5{
    margin-bottom: 8px;
    font-weight: bold;
    font-weight: 700;
   }
h3 {
    font-size: 2.5rem;
    font-weight: bold;
    font-weight: 900;
    margin-bottom: 20px;
}