.content .image-slider {
  padding-bottom: 50px;
  margin-bottom: 8.5rem;
  position: relative;
}
.content .image {
  width: 100%;
  height: 100rem;
  margin-bottom: 20px;
}
.content .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .slick-initialized .slick-slide {
  margin: 0 12px;
}
.content .slick-arrow {
  background-color: var(--bgc-button);
  position: absolute;
  top: 35%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 1;
  z-index: 5;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.content .slick-prev {
  left: 2;
}
.content .slick-next {
  right: 0;
}
.content .slick-dots {
  position: absolute;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 20px;
}
.content .slick-dots button {
  left: 30px;
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 100rem;
  background-color: #fff;
  border: none;
  outline: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.content .slick-dots .slick-active button {
  background-color: var(--bgc-button);
}

.banner-slider {
  position: absolute;
  top: 100rem;
  padding-bottom: 40px;
}
.banner-slider .image-item .image {
  height: 280px;
  width: 280px;
  margin-bottom: 20px;
}
.banner-slider .image-item .image img {
  -webkit-box-shadow: rgba(248, 246, 246, 0.4) 0px 30px 90px;
          box-shadow: rgba(248, 246, 246, 0.4) 0px 30px 90px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

.slick-initialized .slick-slide {
  margin: 0 20px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 1;
  z-index: 5;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-radius: 50%;
}

.slick-arrow:hover {
  background-color: var(--bgc-button);
  color: white;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 20px;
}

.slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 100rem;
  background-color: #eee;
  border: none;
  outline: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.slick-dots .slick-active button {
  background-color: var(--bgc-button);
}

.swiper-menu {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  width: 290px;
  height: 290px;
  -webkit-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  -webkit-filter: blur(1px);
          filter: blur(1px);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
}

.swiper-slide-active {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-slide--one {
  background: -webkit-gradient(linear, left bottom, left top, from(#0f2027), color-stop(rgba(32, 58, 67, 0)), to(rgba(44, 83, 100, 0))), url("/assets/images/menu/ala-carte-tteokbokki-copy-uai-360x360 (1).jpg") no-repeat 50% 50%/cover;
  background: linear-gradient(to top, #0f2027, rgba(32, 58, 67, 0), rgba(44, 83, 100, 0)), url("/assets/images/menu/ala-carte-tteokbokki-copy-uai-360x360 (1).jpg") no-repeat 50% 50%/cover;
}

.swiper-slide--two {
  background: -webkit-gradient(linear, left bottom, left top, from(#0f2027), color-stop(rgba(32, 58, 67, 0)), to(rgba(44, 83, 100, 0))), url("/assets/images/menu/Honey-half-chicken-copy-uai-360x360.jpg") no-repeat 50% 50%/cover;
  background: linear-gradient(to top, #0f2027, rgba(32, 58, 67, 0), rgba(44, 83, 100, 0)), url("/assets/images/menu/Honey-half-chicken-copy-uai-360x360.jpg") no-repeat 50% 50%/cover;
}

.swiper-slide--three {
  background: -webkit-gradient(linear, left bottom, left top, from(#0f2027), color-stop(rgba(32, 58, 67, 0)), to(rgba(44, 83, 100, 0))), url("/assets/images/menu/product-beverage-pink-lemonade-bg-uai-360x360.jpg") no-repeat 50% 50%/cover;
  background: linear-gradient(to top, #0f2027, rgba(32, 58, 67, 0), rgba(44, 83, 100, 0)), url("/assets/images/menu/product-beverage-pink-lemonade-bg-uai-360x360.jpg") no-repeat 50% 50%/cover;
}

.swiper-slide--four {
  background: -webkit-gradient(linear, left bottom, left top, from(#0f2027), color-stop(rgba(32, 58, 67, 0)), to(rgba(44, 83, 100, 0))), url("/assets/images/menu/product-kyogurt-choc-uai-360x360.jpg") no-repeat 50% 50%/cover;
  background: linear-gradient(to top, #0f2027, rgba(32, 58, 67, 0), rgba(44, 83, 100, 0)), url("/assets/images/menu/product-kyogurt-choc-uai-360x360.jpg") no-repeat 50% 50%/cover;
}

.swiper-slide--five {
  background: -webkit-gradient(linear, left bottom, left top, from(#0f2027), color-stop(rgba(32, 58, 67, 0)), to(rgba(44, 83, 100, 0))), url("/assets/images/menu/sides-potato-wedges--uai-360x360.jpg") no-repeat 50% 50%/cover;
  background: linear-gradient(to top, #0f2027, rgba(32, 58, 67, 0), rgba(44, 83, 100, 0)), url("/assets/images/menu/sides-potato-wedges--uai-360x360.jpg") no-repeat 50% 50%/cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

.aboutUs {
  margin: 60px;
}
.aboutUs .title-abouUs-right {
  position: relative;
}

.title-abouUs {
  margin-bottom: 20px;
}
.title-abouUs h3 {
  font-size: 3rem;
  font-weight: bold;
  font-weight: 700;
}
.title-abouUs h4 {
  letter-spacing: 2px;
  font-weight: 600;
  color: var(--bgc-button);
}

.image-abouUs img {
  top: -56px;
  left: 370px;
  position: absolute;
  height: 120px;
  -webkit-box-shadow: inset;
          box-shadow: inset;
}

.title-abouUs-left {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.title-abouUs-left h3 {
  font-size: 2rem;
  font-weight: bold;
  font-weight: 900;
  margin-bottom: 20px;
  color: var(--bgc-button);
}
.title-abouUs-left span {
  margin-bottom: 20px;
}
.title-abouUs-left p {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.title-abouUs-left h6 {
  margin-bottom: 30px;
}

.place-kyochon {
  margin-bottom: 40px;
  height: 23.3rem;
  width: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ba3338;
}
.place-kyochon .row ul > li {
  padding: 7px;
}
.place-kyochon .row ul > li a {
  color: #fff;
}
.place-kyochon .row ul > li i {
  color: #fff;
  width: 20px;
}

.upadte-menu {
  margin-left: 100px;
}
.upadte-menu .row {
  margin: 10px;
}
.upadte-menu .row .card {
  margin: 10px;
  background-color: #f5f5f5;
  border: none;
}
.upadte-menu .row .card .row .col-lg-4 .photo-banner {
  margin-top: 10px;
  border-radius: 15px;
}
.upadte-menu .row .card .row .col-lg-8 .card-body {
  line-height: 20px;
}
.upadte-menu .row .card .row .col-lg-8 .card-body p {
  font-size: 10px;
  margin-bottom: 15px;
}

.restaurant-description {
  min-height: 296px;
  background-color: #f5f5f5;
  padding-inline: 20px;
  line-height: 21px;
  margin-bottom: 30px;
}

.content_aboutus .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 40px;
  padding: 30px 30px;
  background-color: #fff;
}
.content_aboutus .row .content_aboutus_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.content_aboutus .row .content_aboutus_left span {
  font-size: 4rem;
  color: #b99764;
  font-weight: 900;
}
.content_aboutus .row .content_aboutus_left h3 {
  font-size: 25px;
}
.content_aboutus .row .content_aboutus_right {
  margin-bottom: 0;
  line-height: 20px;
}
.content_aboutus .row .content_aboutus_right h4 {
  font-size: 18px;
  color: #b99764;
  font-weight: 600;
}
.content_aboutus .row .content_aboutus_right p {
  font-size: 16px;
}
.content_aboutus .row .picture_content > img {
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  background-color: #f5f5f5;
  width: 100%;
  height: 30rem;
  margin-left: -100px;
}

.THREE_PROMISES {
  margin-top: 40px;
  text-align: center;
}
.THREE_PROMISES h2 {
  color: #b99764;
  font-weight: bold;
  font-size: 4rem;
}
.THREE_PROMISES h3 {
  color: #b99764;
}
.THREE_PROMISES .row {
  text-align: center;
  font-size: 25px;
}
.THREE_PROMISES .row .col-lg-4 p > svg {
  margin-bottom: 20px;
}
.THREE_PROMISES .row {
  margin-block: 40px;
}
.THREE_PROMISES .row .col-lg-12 > img {
  margin-left: 10px;
  padding: 30px;
  margin: 0 auto;
  width: 40%;
  height: 240px;
}
.THREE_PROMISES .youtube_kyocho {
  padding-block: 40px;
  margin-top: 40px;
  background-color: #fff;
  margin-inline: 45px;
}
.THREE_PROMISES .youtube_kyocho h3 {
  font-size: 3rem;
  color: #b99764;
  margin-bottom: 30px;
}
.THREE_PROMISES .youtube_kyocho .text_aboutus {
  line-height: 20px;
  margin-top: 30px;
  padding-inline: 200px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: left;
}

.tieude_lon {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin-block: 5rem;
}

.list_nhahang_uyquyen .row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.list_nhahang_uyquyen .row .nhahang_1 {
  color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 48px;
  line-height: 25px;
  font-size: 12px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.list_nhahang_uyquyen .row .nhahang_1 .noidung_nhahang .tieudelon_nhahang .thaymau {
  font-weight: 700;
  color: #281c18;
}
.list_nhahang_uyquyen .row .nhahang_1 .noidung_nhahang .tieudelon_nhahang .thaymau:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  color: var(--bgc-button);
}
.list_nhahang_uyquyen .row .nhahang_1 .noidung_nhahang .tieudelon_nhahang .trang_thai {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  border-radius: 3px;
  color: rgb(22, 20, 20);
  width: 50px;
  height: 20px;
  background-color: rgb(172, 170, 170);
}
.list_nhahang_uyquyen .row .nhahang_1 .noidung_nhahang .tieudelon_nhahang .icon .icon_1 {
  margin-right: 5px;
}
.list_nhahang_uyquyen .nhahang_don {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conten_cashvoucher .text-form {
  margin-top: 6rem;
  text-align: center;
}
.conten_cashvoucher .text-form h1 {
  font-weight: 700;
  padding: 10px;
}
.conten_cashvoucher .text-form p {
  margin-block: 15px;
}
.conten_cashvoucher form {
  margin-block: 5rem;
  margin-inline: 15rem;
}
.conten_cashvoucher form .form-row {
  margin-block: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  white-space: nowrap;
  border-radius: 4rem;
}
.conten_cashvoucher form .form-row input, .conten_cashvoucher form .form-row select {
  color: black;
  border-color: orange;
  border-radius: 20px;
}
.conten_cashvoucher form .form-row .form-group .form-control {
  padding: 10px;
}
.conten_cashvoucher .btn-login {
  margin-top: 20px;
  width: 300px;
  height: 40px;
  font-size: 1rem;
  margin-inline: 30rem;
}

body {
  background-color: #fff;
}

.content_halal .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content_halal .row .img_halal img {
  margin: 15px auto;
  padding: 20px;
}
.content_halal .row .text_halal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
  padding-inline: 3rem;
  line-height: 35px;
}
.content_halal .row .text_halal h3 {
  text-align: center;
  font-weight: 700;
}
.content_halal .row .text_halal h4 {
  font-size: medium;
}
.content_halal .row .place_res .button_place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}
.content_halal .row .place_res .button_place i {
  margin: auto;
  font-size: 2rem;
  color: white;
}
.content_halal .row .place_res .button_place:hover {
  background-color: rgb(148, 147, 147);
}
.content_halal .row .place_res .link {
  display: block;
  text-align: center;
  font-weight: 700;
}
.content_halal .row .place_res .list_place {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-inline: 350px 100px;
  border: 1px solid #6e6c6c;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content_halal .row .place_res .list_place .Selangor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  left: 0;
  border-bottom: 1px solid #6e6c6c;
}
.content_halal .row .place_res .list_place .Selangor .selanhor_left {
  width: 160px;
  padding-left: 10px;
  background-color: #f3f3f3;
  border-right: 1px solid #6e6c6c;
}
.content_halal .row .place_res .list_place .Selangor .selanhor_right {
  padding-left: 10px;
  display: block;
  width: 334px;
  text-align: left;
}
.content_halal .row .place_res .list_place .Selangor .selanhor_right li {
  list-style-type: square;
}
.content_halal .row .place_res .list_place .Selangor .selanhor_right p {
  padding: 5px;
  background-color: #758111;
  color: #fff;
  margin-top: 10px;
  margin-right: 10px;
}
.content_halal .row .place_res .list_place .Selangor .selanhor_right .orang {
  background-color: #f7941d;
  color: #fff;
}