@charset "UTF-8";
:root {
  --bgc-button: #b99764 ;
  --bgc-button-black: black ;
}

img {
  display: block;
}

button,
a {
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
}

ul, li {
  list-style: none;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: Verdana, sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 1.3rem;
  font-family: "Nanum Gothic";
  background-color: #f5f5f5;
}

h4 {
  margin-bottom: 10px;
  font-weight: bold;
}

h5 {
  margin-bottom: 8px;
  font-weight: bold;
  font-weight: 700;
}

h3 {
  font-size: 2.5rem;
  font-weight: bold;
  font-weight: 900;
  margin-bottom: 20px;
}

#header {
  font-weight: 700;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 11rem;
  width: inherit;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
#header .nav-left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#header .nav-left span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
}
#header .nav-left span li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header .nav-left span li i {
  color: black;
  font-size: 2.8rem;
}
#header .nav-left span .sidebar {
  height: 200px; /* Đặt chiều cao của vùng cuộn */
  overflow: auto; /* Kích hoạt thanh cuộn */
  /* Tùy chỉnh thanh cuộn cho trình duyệt Chrome/WebKit */
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  z-index: 9999;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.8549019608);
  -webkit-box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  justify-self: flex-start;
}
#header .nav-left span .sidebar .scrollable-content::-webkit-scrollbar {
  width: 6px; /* Đặt chiều rộng của thanh cuộn */
  height: 2px;
}
#header .nav-left span .sidebar .scrollable-content::-webkit-scrollbar-thumb {
  background-color: #eeebeb; /* Màu nền của nút kéo */
}
#header .nav-left span .sidebar .scrollable-content::-webkit-scrollbar-track {
  background-color: #f5f4f4; /* Màu nền của thanh trượt */
}
#header .nav-left span .sidebar li {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
#header .nav-left span .sidebar li a {
  padding: 0 20px;
  color: black;
}
#header .nav-left span .sidebar li a .fa-chevron-right {
  font-size: 8px;
  background-color: rgb(223, 92, 45);
  border-radius: 50%;
  padding: 5px;
  margin-right: 5px;
}

.col-lg-2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.col-lg-2 img {
  width: 9rem;
  height: 4rem;
}

.col-lg-5:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.col-lg-5:last-child a {
  background-color: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-right: 2rem;
  font-weight: 600;
}

footer {
  background-color: #ebe6df;
}
footer .info-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .info-right ul {
  height: 12rem;
}
footer .info-right ul > li {
  font-weight: 900;
  padding: 7px;
}
footer .info-right ul > li a {
  color: black;
}
footer .info-right ul:last-child {
  height: 19rem;
  margin-left: 70px;
  border-right: 1px solid black;
}
footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  line-height: 40px;
}
footer .contact h4 {
  margin-top: 40px;
  font-weight: 800;
  color: var(--bgc-button);
  letter-spacing: 2px;
  margin-bottom: 40px;
}
footer .contact .list-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
footer .contact .list-contact input {
  width: 360px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 30px;
  color: #281c18;
  font-size: 14px;
  text-align: left;
}
footer .contact .list-contact .btn-sign {
  display: block;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 120px;
  height: 30px;
  line-height: 30px;
  right: 10px;
  top: 11%;
}
footer .contact ul {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .contact ul > li {
  padding: 5px;
}
footer .contact ul > li i {
  font-size: 15px;
  margin-right: 6px;
}
footer .contact ul > li a {
  color: #281c18;
}

.logo-footer {
  margin-top: 70px;
}
.logo-footer img {
  width: 180px;
  height: 65px;
  margin-bottom: 20px;
}
.logo-footer h6 {
  margin-bottom: 20px;
}
.logo-footer p a {
  color: #281c18;
  font-size: 10px;
}
.logo-footer span > a {
  width: 30px;
  height: 30px;
  float: right;
}

.btn-base {
  width: 15rem;
  height: 3.2rem;
  background-color: var(--bgc-button);
  text-transform: uppercase;
  letter-spacing: 1.4px;
  border-radius: 140px;
  font-size: 10px;
  color: white;
  font-weight: 600;
}

.btn-base-menu {
  width: 15rem;
  height: 3.2rem;
  color: var(--bgc-button);
  text-transform: uppercase;
  letter-spacing: 1.4px;
  border-radius: 140px;
  border: 1px solid var(--bgc-button);
  font-size: 10px;
  font-weight: 600;
}

.btn-base-menu:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: #fff;
  border: 1px solid var(--bgc-button);
  color: var(--bgc-button);
}

@media screen and (max-width: 46.1875em) {
  .btn-base-menu {
    display: none;
  }
}

.btn-oder:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: #fff;
  border: 1px solid var(--bgc-button);
  color: var(--bgc-button);
}

.btn-red {
  background-color: #ba3338;
  color: #fff;
}

.btn-red:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: #fff;
  border: 1px solid var(--bgc-button);
  color: var(--bgc-button);
}

.btn-black {
  background-color: #281c18;
  color: #fff;
}

.btn-black:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: #fff;
  border: 1px solid var(--bgc-button);
  color: var(--bgc-button);
}

.btn-top {
  color: #fff;
  text-align: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: black;
}

.btn-promo {
  width: 7.5rem;
  height: 2rem;
  background-color: #c7c0b0;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  border-radius: 5px;
  font-size: 6px;
  color: white;
  font-weight: 600;
}

.light {
  display: block;
  width: 44px;
  height: 2px;
  background: black;
}

.light_cashvouher {
  display: block;
  text-align: center;
  width: 60px;
  height: 2px;
  background-color: rgb(216, 195, 8);
  margin: 0 auto;
}

.count-list-aboutUs {
  text-align: center;
  list-style: 30px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--bgc-button);
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
}

.content .image-slider {
  padding-bottom: 50px;
  margin-bottom: 8.5rem;
  position: relative;
}
.content .image {
  width: 100%;
  height: 100rem;
  margin-bottom: 20px;
}
.content .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .slick-initialized .slick-slide {
  margin: 0 12px;
}
.content .slick-arrow {
  background-color: var(--bgc-button);
  position: absolute;
  top: 35%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 1;
  z-index: 5;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.content .slick-prev {
  left: 2;
}
.content .slick-next {
  right: 0;
}
.content .slick-dots {
  position: absolute;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 20px;
}
.content .slick-dots button {
  left: 30px;
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 100rem;
  background-color: #fff;
  border: none;
  outline: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.content .slick-dots .slick-active button {
  background-color: var(--bgc-button);
}

.banner-slider {
  position: absolute;
  top: 100rem;
  padding-bottom: 40px;
}
.banner-slider .image-item .image {
  height: 280px;
  width: 280px;
  margin-bottom: 20px;
}
.banner-slider .image-item .image img {
  -webkit-box-shadow: rgba(248, 246, 246, 0.4) 0px 30px 90px;
          box-shadow: rgba(248, 246, 246, 0.4) 0px 30px 90px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

.slick-initialized .slick-slide {
  margin: 0 20px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 1;
  z-index: 5;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-radius: 50%;
}

.slick-arrow:hover {
  background-color: var(--bgc-button);
  color: white;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 20px;
}

.slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 100rem;
  background-color: #eee;
  border: none;
  outline: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.slick-dots .slick-active button {
  background-color: var(--bgc-button);
}

.swiper-menu {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  width: 290px;
  height: 290px;
  -webkit-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  -webkit-filter: blur(1px);
          filter: blur(1px);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
}

.swiper-slide-active {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-slide--one {
  background: -webkit-gradient(linear, left bottom, left top, from(#0f2027), color-stop(rgba(32, 58, 67, 0)), to(rgba(44, 83, 100, 0))), url("/assets/images/menu/ala-carte-tteokbokki-copy-uai-360x360 (1).jpg") no-repeat 50% 50%/cover;
  background: linear-gradient(to top, #0f2027, rgba(32, 58, 67, 0), rgba(44, 83, 100, 0)), url("/assets/images/menu/ala-carte-tteokbokki-copy-uai-360x360 (1).jpg") no-repeat 50% 50%/cover;
}

.swiper-slide--two {
  background: -webkit-gradient(linear, left bottom, left top, from(#0f2027), color-stop(rgba(32, 58, 67, 0)), to(rgba(44, 83, 100, 0))), url("/assets/images/menu/Honey-half-chicken-copy-uai-360x360.jpg") no-repeat 50% 50%/cover;
  background: linear-gradient(to top, #0f2027, rgba(32, 58, 67, 0), rgba(44, 83, 100, 0)), url("/assets/images/menu/Honey-half-chicken-copy-uai-360x360.jpg") no-repeat 50% 50%/cover;
}

.swiper-slide--three {
  background: -webkit-gradient(linear, left bottom, left top, from(#0f2027), color-stop(rgba(32, 58, 67, 0)), to(rgba(44, 83, 100, 0))), url("/assets/images/menu/product-beverage-pink-lemonade-bg-uai-360x360.jpg") no-repeat 50% 50%/cover;
  background: linear-gradient(to top, #0f2027, rgba(32, 58, 67, 0), rgba(44, 83, 100, 0)), url("/assets/images/menu/product-beverage-pink-lemonade-bg-uai-360x360.jpg") no-repeat 50% 50%/cover;
}

.swiper-slide--four {
  background: -webkit-gradient(linear, left bottom, left top, from(#0f2027), color-stop(rgba(32, 58, 67, 0)), to(rgba(44, 83, 100, 0))), url("/assets/images/menu/product-kyogurt-choc-uai-360x360.jpg") no-repeat 50% 50%/cover;
  background: linear-gradient(to top, #0f2027, rgba(32, 58, 67, 0), rgba(44, 83, 100, 0)), url("/assets/images/menu/product-kyogurt-choc-uai-360x360.jpg") no-repeat 50% 50%/cover;
}

.swiper-slide--five {
  background: -webkit-gradient(linear, left bottom, left top, from(#0f2027), color-stop(rgba(32, 58, 67, 0)), to(rgba(44, 83, 100, 0))), url("/assets/images/menu/sides-potato-wedges--uai-360x360.jpg") no-repeat 50% 50%/cover;
  background: linear-gradient(to top, #0f2027, rgba(32, 58, 67, 0), rgba(44, 83, 100, 0)), url("/assets/images/menu/sides-potato-wedges--uai-360x360.jpg") no-repeat 50% 50%/cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

.aboutUs {
  margin: 60px;
}
.aboutUs .title-abouUs-right {
  position: relative;
}

.title-abouUs {
  margin-bottom: 20px;
}
.title-abouUs h3 {
  font-size: 3rem;
  font-weight: bold;
  font-weight: 700;
}
.title-abouUs h4 {
  letter-spacing: 2px;
  font-weight: 600;
  color: var(--bgc-button);
}

.image-abouUs img {
  top: -56px;
  left: 370px;
  position: absolute;
  height: 120px;
  -webkit-box-shadow: inset;
          box-shadow: inset;
}

.title-abouUs-left {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.title-abouUs-left h3 {
  font-size: 2rem;
  font-weight: bold;
  font-weight: 900;
  margin-bottom: 20px;
  color: var(--bgc-button);
}
.title-abouUs-left span {
  margin-bottom: 20px;
}
.title-abouUs-left p {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.title-abouUs-left h6 {
  margin-bottom: 30px;
}

.place-kyochon {
  margin-bottom: 40px;
  height: 23.3rem;
  width: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ba3338;
}
.place-kyochon .row ul > li {
  padding: 7px;
}
.place-kyochon .row ul > li a {
  color: #fff;
}
.place-kyochon .row ul > li i {
  color: #fff;
  width: 20px;
}

.upadte-menu {
  margin-left: 100px;
}
.upadte-menu .row {
  margin: 10px;
}
.upadte-menu .row .card {
  margin: 10px;
  background-color: #f5f5f5;
  border: none;
}
.upadte-menu .row .card .row .col-lg-4 .photo-banner {
  margin-top: 10px;
  border-radius: 15px;
}
.upadte-menu .row .card .row .col-lg-8 .card-body {
  line-height: 20px;
}
.upadte-menu .row .card .row .col-lg-8 .card-body p {
  font-size: 10px;
  margin-bottom: 15px;
}

.restaurant-description {
  min-height: 296px;
  background-color: #f5f5f5;
  padding-inline: 20px;
  line-height: 21px;
  margin-bottom: 30px;
}

.conten_cashvoucher .text-form {
  margin-top: 6rem;
  text-align: center;
}
.conten_cashvoucher .text-form h1 {
  font-weight: 700;
  padding: 10px;
}
.conten_cashvoucher .text-form p {
  margin-block: 15px;
}
.conten_cashvoucher form {
  margin-block: 5rem;
  margin-inline: 15rem;
}
.conten_cashvoucher form .form-row {
  margin-block: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  white-space: nowrap;
  border-radius: 4rem;
}
.conten_cashvoucher form .form-row input, .conten_cashvoucher form .form-row select {
  color: black;
  border-color: orange;
  border-radius: 20px;
}
.conten_cashvoucher form .form-row .form-group .form-control {
  padding: 10px;
}
.conten_cashvoucher .btn-login {
  margin-top: 20px;
  width: 300px;
  height: 40px;
  font-size: 1rem;
  margin-inline: 30rem;
}